<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Tab</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body >
    <header>
        <%- include('./partials/header') %>
        <h1>Cart Tab</h1>
    </header>
    <div class="cartTab">
        <h1>Shopping Cart</h1>
        <div class="listCart">
                <div>
                    <% for(let i=0; i < selectedItems.length; i++) {%>
                        <div class="item">
                            <div class="image">
                                <img src="<%= `/img/${selectedItems[i].image}`%>" alt="">
                            </div>
                            <div class="name"><%= selectedItems[i].name %></div>
                            <div class="totalPrice"><%= selectedItems[i].price %></div>
                            <div class="quantity">
                                <span class="minus" onclick="subtract('<%= selectedItems[i]._id %>')">-</span>
                                <span ><%= selectedItems[i].count %></span>
                                <span class="plus" onclick="increment('<%= selectedItems[i].name %>', '<%= selectedItems[i].price %>', '<%= selectedItems[i].image %>')" >+</span>
                            </div>
                        </div>
                    <% } %>
                </div>
        </div>
        <div class="btn">
            <button class="close">ClOSE</button>
            <button class="checkOut">Check Out</button>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>